<div id="dashSideNav" class="dash_sidebar">
   <a href="/profile/{{user.username}}" class="dash_logo">
      <div class="dash_back"><img src="/icons/left-arrow-black.png" class="mobile-nav__icon"/></div>
      <span>H</span>
   </a>

   <div class="dash_nav">
      <a href="/dashboard">Overview</a>
      <a class="dash_active" href="/dashboard/build">Build</a>
      <a href="/dashboard/manage">Manage</a>
      <a href="/dashboard/marketing">Marketing</a>
      <a href="/dashboard/monetize">Monetize</a>
      <a href="/dashboard/analytics">Analytics</a>
   </div>

   <a href="#settings" class="dash_settings"><img src="/icons/settings-black.png" class="mobile-nav__icon"/>Settings</a>
</div>

<div id="dashBtn" class="dash_menu_btn">
   <div class="dashOpen_container">
      <div class="dash_dashes"></div>
      <div class="dash_dashes"></div>
      <div class="dash_dashes"></div>
   </div>

   <a href="javascript:void(0)" id="dashClose">&times;</a>
</div>

<div class="dash_content">
   <h3>Coming Soon...</h3>
   <p>
      Our goal is to provide content creators with a platform that helps eliminate the difficulty of making a business through content.
      We are currently working on creating systems that build you websites, manage all forms of content, and automate your marketing.
      We'll have monetization options as well such as selling or affiliating products, recieving ad revenue, and membership abilities.
      <br />
      <br />
      <strong>Creating a business is hard, but we'll make it easy for you.</strong>
   </p>
</div>
