<div class="error__container" style="text-align: center">

  <img src="/img/site/broken-checkout.png" class="creator_canceled_img"/>

   <h1 class="main__title">We could've been great together...</h1>
   <div class="row main__info-container">
      <a href="/profile/{{user.username}}" class="creator_canceled_link creator_canceled_done">Yes, I'm sure about this</a>
      <a href="/creatives" class="creator_canceled_link creator_canceled_retry">Let's try it again</a>
   </div>
</div>
