<section class="creatives_hero_container">
   <div class="creatives_hero_wrapper">
      <div class="creatives_hero_left">
         <div class="creatives_hero_left_inner">
            <h1>Build a Business <br />Through your content.</h1>
            <p>
               The all around platform that provides the simplest way for creatives to grow their business.
               Hryzn is the one stop shop to get the job done, from building, managing, to marketing.
            </p>
            <div class="creatives_pg_btns">
               <a href="/users/register" class="creatives_btns_prim">Sign Up</a>
               <a href="https://youtu.be/4JUrRNPol7w" data-lity>Watch Video</a>
            </div>
         </div>
      </div>

      <div class="creatives_hero_right">
         <img src="/img/welcome/creatives-hero.jpg" class="img-responsive" />
      </div>
   </div>
</section>
