<div class="section wide img wf-section error-section">

  <div style="padding: 100px 50px 0 50px; text-align: center; max-width: 1100px; margin: 0 auto;">
    <div class="title title-red-bg">We appreciate you being a part of our journey!</div>
    <h2 class="heading-4">You're on the wait list!</h2>
    <p style="color: #fff; text-align: center;">
      Welcome to the cool kids club! There’s currently {{people_ahead}} people ahead of you in the list to get access, and remember only the first 1,000 get the rewards. But here’s a little secret… you can skip the line. You seem like a pretty cool person with some pretty awesome friends, and we’d love to meet them. The more friends you can get to join, the lower your position in line becomes and the sooner you’ll get access. Hit up your friends, post on social media, text your boss, call your grandma. You should probably call your family regardless… just saying. Make sure to include your unique link down below with your share reference code attached to get the credit.
      <br>
      <br>
      <br>
      <br>
      <strong>Please share this unique link:</strong>
      <br>
      <br>
      https://myhryzn.com/?share_ref={{share_ref}}
    </p>

      <div class="wrapper" style="margin: 0 auto;">
        <img src="/img/Citta--Party-Time.png" height="450px" alt="" class="image-6">
      </div>

    <p style="color: #fff; text-align: center;">
      If you're not sure what to say, try this: "Guys check this out! I just found this new social platform where people can connect with their communities through niche topics, using the future of Web 3.0! Here's the link: { my_unique_share_link }"
      <br>
      <br>
      This reservation is held for {{email}}. If this is not you, please contact us.
    </p>
  </div>

</div>

<script src="/js/siteUtils/confetti.js"></script>
<script>
  const start = () => {
    setTimeout(function() {
    confetti.start()
    }, 1000); // 1000 is time that after 1 second start the confetti
  };

  const stop = () => {
    setTimeout(function() {
    confetti.stop()
  }, 10000); // 10000 is time that after 10 seconds stop the confetti
  };

  start();
  stop();
</script>
