<!-- Full Image Feature Section-->
<div class="section wide img wf-section error-section">
  {{#if error_404}}
  <div style="padding: 100px 50px 0 50px;">
    <div class="title title-red-bg">Uh oh...</div>
    <h2 class="heading-4">Sorry, we couldn't find that page anywhere.</h2>
  </div>
  {{else}}
  <div style="padding: 100px 50px 0 50px;">
    <div class="title title-red-bg">Uh oh...</div>
    <h2 class="heading-4">{{message}}Sorry, but there seems to be an error.</h2>
  </div>
  {{/if}}

  <div class="wrapper">
    <img src="/img/The-Little-Things---Sitting-on-Floor.png" height="450px" alt="" class="image-6">
  </div>
</div>
<!-- /Feature Section-->
