<div class="error__container">
   {{#if error_404}}
   <h1 class="main__title">404</h1>
   <div class="row main__info-container">
      <p class="main__info"><strong>Sorry, we couldn't find that page anywhere.</strong></p>
   </div>
   {{else}}
   <h1 class="main__title">Darn!</h1>
   <div class="row main__info-container">
      {{!message}}
      <p class="main__info" style="width: 100%; max-width: none; margin: 0 auto;"><strong>We're sorry, but there seems to be an error.</strong></p>
   </div>
   {{/if}}
</div>
