.profile_bg_container {
   width: 100%;
   min-height: 700px;
   text-align: center;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   z-index: 0;
}

.profile_bg {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   z-index: 0;
   object-fit: cover;
   top: 0;
   left: 0;
}

.bg_overlay {
   width: 100%;
   height: 100%;
   z-index: 555555;
   position: absolute;
   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 6));
   opacity: 0.15;
}

@media screen and (max-width: 768px) {
   .profile_bg_container {
      min-height: 450px;
   }
}

.bg_bottom {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   bottom: 75px;
   width: 100%;
}

.profile_info {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.profile_img_container {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   text-align: center;
   margin-right: 25px;
   position: relative;
   overflow: hidden;
   border: 3px solid #fff;
}

.profile_img,
.first_char {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   z-index: 0;
   object-fit: cover;
   top: 0;
   left: 0;
}

.first_char {
   background: #F1EEE9;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 60px;
   color: #fff;
}

.name_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.profile__name {
   margin: 0;
   z-index: 777777;
   letter-spacing: 2px;
   color: #fff;
   font-size: 14px;
}

.profile__username {
   z-index: 777777;
   margin: 0;
   color: #fff;
   font-size: 35px;
}

.profile__settings {
   right: 50px;
   z-index: 777777;
   cursor: pointer;
   max-width: 50px;
}

.profile-main__container {
   width: 100%;
   background: #fff;
   padding: 50px;
   z-index: 77778;
   position: relative;
   margin-top: -35px;
   border-top-left-radius: 35px;
   border-top-right-radius: 35px;
}

.profile__top {
   margin-bottom: 50px;
}

.profile__top,
.profile__follow-container,
.followers__following,
.follow__btn-container {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
}

.follow__btn-container {
   width: 100%;
}

.follow__btn-container form {
   min-width: 200px;
}

.profile__follow-container form {
   width: 100%;
}

.profile__follow-container a {
   margin: 0 15px;
   color: #a8add0;
   font-weight: 600;
   text-transform: capitalize;
   font-size: 14px;
   text-align: center;
}

.profile__follow-container a strong {
   margin-right: 5px;
   color: #333;
}

.profile__follow,
.profile__unfollow {
   padding: 12px 50px;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   border: none;
   border-radius: 35px;
   cursor: pointer;
   transition: 0.3s;
   margin: 0 15px;
}

.profile__follow {
   background: #f0d2cc;
   color: #fff;
}

.profile__unfollow {
   border: 1px solid #f0d2cc;
   color: #f0d2cc;
}

.profile__follow:hover,
.profile__unfollow:hover {
   opacity: 0.8;
}

.profile__projects-p {
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.project_btn_wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.own_btn,
.saved_btn {
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   background: #f1f1f1;
   padding: 12px 35px;
   margin-right: 25px;
   cursor: pointer;
   transition: 0.3s;
   border-radius: 15px;
}

.own_btn:hover,
.saved_btn:hover {
   box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px) {
   .bg_bottom {
      flex-direction: column;
      bottom: 100px;
   }

   .profile_info {
      flex-direction: column;
      align-items: center;
   }

   .profile_img_container {
      margin: 0 0 25px 0;
   }

   .name_container {
      justify-content: center;
      align-items: center;
   }

   .profile__name {
      left: 25px;
      font-size: 12px;
   }

   .profile__username {
      left: 25px;
      font-size: 25px;
   }

   .profile__settings {
      right: 25px;
      position: absolute;
      bottom: -55px;
   }

   .profile-main__container {
      padding: 25px;
   }

   .profile__top,
   .profile__follow-container {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
   }

   .profile__follow-container a {
      margin: 5px 15px;
   }

   .profile__follow-container a:first-child {
      margin-left: 0;
   }

   .own_btn,
   .saved_btn {
      font-size: 10px;
      letter-spacing: 1px;
      margin: 0 10px;
      padding: 10px 15px;
   }

   .profile__follow,
   .profile__unfollow {
      padding: 12px 0;
      width: 100%;
      margin: 15px 0;
   }
}

.profile__sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 9999999;
   top: 0;
   right: 0;
   background-color: #fff;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 25px;
}

.settings__header {
   font-size: 20px;
   color: #333;
   margin-left: 50px;
}

.settings__underline {
   width: 50px;
   height: 3px;
   border: none;
   background: #333;
   margin: 25px 0 25px 50px;
}

.profile__sidenav a {
   margin: 25px 0 25px 50px;
   font-size: 14px;
   color: #333;
   display: block;
   transition: 0.3s;
}

.profile__sidenav a:hover {
   color: #707070;
}

#relatedSideNav .settings__header,
#relatedSideNav .settings__underline,
#relatedSideNav a {
   margin-left: 25px;
   margin-right: 25px;
}

.profile__sidenav #settingsClose,
.profile__sidenav #relatedClose {
   position: absolute;
   top: 15px;
   right: 15px;
   font-size: 36px;
   margin-left: 50px;
   cursor: pointer;
}

.profile__sidenav #settingsClose:hover,
.profile__sidenav #relatedClose:hover {
   color: #333;
}

.follower__profiles-section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.follower__profiles-container {
   padding: 150px 50px 0 50px;
   margin: 0 auto;
}

.follower__profile {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
   margin: 25px;
   max-width: 300px;
   font-size: 16px;
   font-weight: bold;
   padding: 25px 50px;
   border-radius: 35px;
   border: 3px solid #f3dbd6;
}

.follower__profile-img-container {
   width: 75px;
   height: 75px;
   border-radius: 50%;
   text-align: center;
   margin-right: 25px;
   position: relative;
   overflow: hidden;
   border: 1px solid #394961;
}

@media screen and (max-width: 768px) {
   .follower__profile {
      font-size: 14px;
   }

   .follower__profile-img-container {
      width: 50px;
      height: 50px;
   }
}
