/***** Explore Project Cards *****/
.explore_main {
   padding: 50px;
}

.top_results {
   font-size: 16px;
   font-weight: bold;
   margin: 50px 0 0 0;
}

.top_results_underline {
   border-top: 1px solid #333;
   max-width: 75px;
   margin: 0 0 25px 0;
}

@media screen and (max-width: 768px) {
   .explore_main {
      padding: 35px;
   }
}

.projects__container {
   width: 100%;
   margin: 0 auto;
   padding: 0 50px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   justify-content: center;
}

.project-main__container {
   width: 100%;
   padding: 50px;
   z-index: 888888;
   position: relative;
}

.project-detail-main__container {
   width: 100%;
   height: 400px;
   background: #fff;
   padding: 50px;
   z-index: 888888;
   position: relative;
   margin-top: -45px;
   border-top-right-radius: 50px;
}

@media screen and (max-width: 768px) {
   .project-main__container,
   .project-detail-main__container {
      padding: 25px;
   }
}

.project_link {
   box-sizing: border-box;
}

.project_card {
   text-align: center;
   position: relative;
}

.project_card img {
   border-radius: 25px;
}

.project_card .project_card_title {
   color: #333;
   font-size: 14px;
   font-weight: 600;
   line-height: 25px;
   margin: 15px 0 0 0;
   text-transform: capitalize;
   text-align: left;
}

.project_owner {
   color: #333;
   font-size: 12px;
   margin: 0;
   text-align: left;
   letter-spacing: 1px;
}

.project_owner:hover {
   color: #707070;
}

@media screen and (max-width: 768px) {
   .project_card .project_card_title {
      font-size: 12px;
   }
}
/**********/


/***** Private Project Cards *****/
.private_project_card {
   padding: 0 0 35px 0;
}

.is_private {
   padding: 5px 0;
   width: 100%;
   margin: 0 auto;
   left: 0;
   right: 0;
   text-align: center;
   color: #333;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #f1f1f1;
   text-transform: uppercase;
   font-size: 8px;
   font-weight: 500;
   letter-spacing: 2px;
   position: absolute;
   bottom: 0;
}

.is_private {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
/**********/


/***** Project Detail *****/
section.project {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 100px;
}

.project_img_container {
   width: 100%;
   min-height: 700px;
   text-align: center;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   z-index: 0;
}

.project_img {
   position: absolute;
   display: block;
   height: 100%;
   z-index: 0;
   object-fit: cover;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
}

@media screen and (max-width: 992px) {
   .project_img_container {
      width: 100%;
      min-height: auto;
      padding: 0;
   }

   .project_img_container .project_img {
      padding: 0;
      position: static;
      left: 0;
      right: 0;
      transform: none;
      width: 100%;
   }
}

.project_main_info {
   margin-top: 75px;
}

.project_categories {
   display: flex;
   flex-direction: row;
}

.project_categories .category {
   padding: 5px 20px;
   background: #f1f1f1;
   font-size: 12px;
   font-weight: bold;
   border-radius: 35px;
   margin: 0 15px 25px 15px;
}

.project_categories .category:first-child {
   margin-left: 0!important;
}

.project_admins {
   color: #ccc!important;
   font-weight: 600;
   font-size: 14px;
   margin: 0 5px 25px 0!important;
   display: inline-block;
   transition: 0.3s;
}

.project_admins:hover {
   color: #707070!important;
}

@media screen and (max-width: 768px) {
   .project_categories .category {
      font-size: 10px;
      margin: 0 10px 25px 10px;
   }

   .project_admins {
      margin: 0 5px 0 0!important;
   }
}

.admin_btn_container,
.project_btn_container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   margin: 15px 0;
}

.admin_btn {
   font-size: 14px;
   font-weight: bold;
   color: #333 !important;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 200px;
   cursor: pointer;
   margin: 0 35px 0 0;
}

.project_title_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.project_title {
   letter-spacing: 1px;
   font-weight: 600;
   font-size: 35px;
}

.project_action_btn {
   font-size: 14px;
   text-transform: uppercase;
   margin: 25px;
   display: flex;
   justify-content: center;
   text-align: center;
   border: none;
   cursor: pointer;
   transition: 0.3s;
   max-height: 25px;
}

.project_action_btn .project_icon {
   margin-right: 15px;
   max-width: 25px;
}

@media screen and (max-width: 992px) {
   .project_title {
      font-size: 30px;
   }

   .project_action_btn {
      font-size: 12px;
      margin: 10px;
   }

   .project_action_btn .project_icon {
      max-width: 20px;
   }
}

.project_save_btn,
.project_unsave_btn {
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 20px 0;
   width: 100%;
   margin: 25px 0;
   display: flex;
   justify-content: center;
   text-align: center;
   border: none;
   cursor: pointer;
   transition: 0.3s;
}

.project_save_btn {
   background-color: #a8add0;
   color: #fff;
}

.project_unsave_btn {
   background-color: #fff;
   color: #394961;
   border: 1px solid #394961;
}

.mobile_admin {
   display: none;
}

.desktop_admin {
   display: block;
}

.project_notes {
   margin-top: 50px;
}

.project_notes img {
   width: 100%;
   margin: 75px auto;
   text-align: center;
   display: block;
}

.project_notes blockquote {
   margin: 35px 0;
   padding: 25px 50px;
   box-shadow: inset 5px 0 0 0 #a8add0;
   font-size: 16px;
   line-height: 35px;
   text-align: center;
}

.create_btns {
   display: flex;
   flex-direction: row;
}

.create_btns .draft_btn {
   background: transparent;
   border: 1px solid #31375A;
   color: #31375A;
}

.project_comment {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 35px;
}

.comment_msg {
   font-size: 14px;
   padding: 0 0 0 50px;
   border-left: 1px solid #ccc;
   margin: 0 0 0 15px;
}

.comment_form {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   max-width: 600px;
   width: 100%;
   margin: 100px auto;
}

.comment_form textarea {
   width: 100%;
   padding: 15px 0;
   height: 100px;
   margin: 25px 0;
   display: inline-block;
   border: none;
   background: transparent;
   border-radius: 0;
   border: 1px solid #ccc;
   outline: none!important;
   font-size: 12px;
   letter-spacing: 1px;
   text-indent: 25px;
}

.comment_btn {
   padding: 12px 35px;
   background: #31375A;
   color: #fff;
   border-radius: 35px;
   margin-top: 25px;
}

@media screen and (max-width: 768px) {
   section.project {
      padding: 50px;
   }

   .project_title_container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }

   .project_title {
      font-size: 25px;
      letter-spacing: 1px;
      margin: 0;
   }

   .mobile_admin {
      display: block;
   }

   .desktop_admin {
      display: none;
   }

   .project_btn_container {
      width: 100%;
      justify-content: space-between;
   }

   .admin_btn {
      font-size: 12px
   }

   .project_notes p {
      margin: 0;
      font-size: 14px;
      line-height: 30px;
   }

   .project_notes blockquote {
      padding: 12px 0 12px 50px;
      text-align: left;
   }
}
/**********/
