<form style="margin: 100px 0 50px 0;" action="/p/details/invite/search/{{project._id}}">
   <div class="invite__container">
      <input type="text" placeholder="Enter a username to become an admin" name="searchUser">
      <button type="submit"><img src="/icons/search.png" class="mobile-nav__icon"/></button>
   </div>
</form>

<div class="row main__info-container">
   <p class="main__info"><strong>Inviting a user makes them an admin of the project, giving them the ability to edit or delete.</strong></p>
</div>
