.direct_msg_container {
   width: 80%;
   max-width: 600px;
   margin: 50px auto 150px auto;
   padding: 0 50px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
}

.msg_container {
   display: flex;
   flex-direction: row;
   width: 90%;
   max-width: 800px;
   max-height: 50px;
   position: fixed;
   bottom: 150px;
   margin: 0 auto;
   left: 0;
   right: 0;
}

.msg_container .form__input {
   border-top-left-radius: 35px;
   border-bottom-left-radius: 35px;
   outline: none!important;
   text-indent: 25px;
   margin: 0!important;
}

.msg_send {
   width: 30%;
   background: #31375A;
   border: 1px solid #31375A;
   color: #fff;
   font-size: 12px;
   margin: 0!important;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   transition: 0.3s;
}

.msg_send:hover {
   margin: 14px 0;
}

.delete_chat {
   font-size: 16px;
   font-weight: bold;
   position: fixed;
   bottom: 50px;
   text-align: center;
   width: 100%;
   max-width: 300px;
   margin: 0 auto;
   left: 0;
   right: 0;
   cursor: pointer;
}

@media screen and (max-width: 768px) {
   .msg_container {
      bottom: 150px;
   }

   .delete_chat {
      bottom: 90px;
   }

   .msg_container .form__input {
      text-indent: 15px;
   }

   .msg_send {
      font-size: 10px;
   }
}
