.profile__sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 999998;
   top: 0;
   right: 0;
   background-color: #fff;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 25px;
}

.settings__header {
   font-size: 20px;
   color: #333;
   margin-left: 50px;
}

.settings__underline {
   width: 50px;
   height: 3px;
   border: none;
   background: #333;
   margin: 25px 0 25px 50px;
}

.profile__sidenav a {
   margin: 25px 0 25px 50px;
   font-size: 14px;
   color: #333;
   display: block;
   transition: 0.3s;
}

.profile__sidenav a:hover {
   color: #707070;
}

#relatedSideNav .settings__header,
#relatedSideNav .settings__underline,
#relatedSideNav a {
   margin-left: 25px;
   margin-right: 25px;
}

.profile__sidenav #settingsClose{
   position: absolute;
   top: 15px;
   right: 15px;
   font-size: 36px;
   margin-left: 50px;
   cursor: pointer;
}

.profile__sidenav #settingsClose:hover {
   color: #333;
}

.profile_page iframe {
   min-height: auto!important;
   max-height: 115px!important;
   max-width: 350px!important;
   border-radius: 15px;
}

.profile__top-desktop-music {
   width: 100%;
}

.profile__top-mobile-music {
   display: none;
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

@media screen and (max-width: 992px) {
   .profile__top-desktop-music {
      display: none;
   }

   .profile__top-mobile-music {
      display: block;
   }
}

.follower__profiles-section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   border: 1px solid #ccc;
   margin: 0 0 50px 0;
   padding: 50px 0;
}

.follower__profiles-container {
   padding: 150px 50px 0 50px;
   margin: 0 auto;
}

.follower__profile {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
   margin: 15px;
   font-size: 16px;
   font-weight: bold;
   padding: 8px 15px;
   border-radius: 35px;
   border: 1px solid #ccc;
}

.follower__profile-img-container {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   text-align: center;
   margin-right: 10px;
   position: relative;
   overflow: hidden;
   border: 1px solid #394961;
}

@media screen and (max-width: 768px) {
   .follower__profile {
      font-size: 14px;
   }

   .follower__profiles-section {
      padding: 0;
   }
}

.profile_themes_img_container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.profile_themes_img_container img {
   width: 35%;
   margin: 15px;
}

.collection_form_modal {
   max-width: 900px!important;
}

.collection_form_projects_container {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   border: 1px solid #ccc;
   margin: 0 0 50px 0;
}

.collection_form_projects_container .micropost_card.card_is_micro_text {
   border: 1px solid #ccc;
}

.collection_form_projects {
   width: 33%;
   padding: 15px;
}

.create_collections_btn {
   width: 50px;
}

@media screen and (max-width: 768px) {
   .collection_form_projects {
      width: 50%;
   }
}

@media screen and (max-width: 595px) {

   .modal-content.collection_form_modal {
      padding: 0;
   }

   .collection_form_projects_container.create_collection_projects .micropost_card.card_is_micro_text {
      border: 1px solid #ccc;
   }

   .collection_form_modal .follower__profiles-section {
      flex-wrap: wrap;
   }

   .collection_form_modal .follower__profiles-section .checkbox-img {
      width: 50%;
   }

   .collection_form_modal .follower__profiles-section .follower__profile {
      margin: 8px;
      font-size: 12px;
      padding: 8px 10px;
   }

   .collection_form_modal .follower__profiles-section .follower__profile-img-container {
      width: 35px;
      height: 35px;
      margin-right: 15px;
   }
}

.collections_dropdown {
   cursor: pointer;
   -webkit-transform: rotateZ(0);
   transform: rotateZ(0);
   -webkit-transition: box-shadow .1s ease,width .1s ease;
   transition: box-shadow .1s ease,width .1s ease;
   margin: 0 0 25px 0;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   outline: none;
}

.collections_dropdown select {
   display: block;
   height: auto;
   background: #fff;
   border: 1px solid #000;
   border-radius: 0;
   box-shadow: 0 0 0 0 transparent inset;
   padding: 10px;
   margin: 0 25px 0 0;
   outline: none;
   color: #000;
   -webkit-transition: color .1s ease,border-color .1s ease;
   transition: color .1s ease,border-color .1s ease;
}

.collections_dropdown select option {
   position: relative;
   cursor: pointer;
   display: block;
   border: none;
   height: auto;
   text-align: left;
   border-top: none;
   color: #000;
   padding: 0;
   font-size: 14px;
   text-transform: none;
   font-weight: bold;
   box-shadow: none;
   -webkit-touch-callout: none;
}

.edit_collection_btn_white {
   cursor: pointer;
   padding: 15px;
   border-radius: 50%;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 15px;
}

.checkbox-img input[type="checkbox"] {
   display: none;
}

.checkbox-img input[type="checkbox"]:checked + .masonryItem,
.checkbox-img input[type="checkbox"]:checked + .follower__profile {
   border: 3px solid #2FBCDF;
   box-shadow: 1px 1px 5px #2FBCDF;
}
