.profile__sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 999998;
   top: 0;
   right: 0;
   background-color: #fff;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 25px;
}

.settings__header {
   font-size: 20px;
   color: #333;
   margin-left: 50px;
}

.settings__underline {
   width: 50px;
   height: 3px;
   border: none;
   background: #333;
   margin: 25px 0 25px 50px;
}

.profile__sidenav a {
   margin: 25px 0 25px 50px;
   font-size: 14px;
   color: #333;
   display: block;
   transition: 0.3s;
}

.profile__sidenav a:hover {
   color: #707070;
}

#relatedSideNav .settings__header,
#relatedSideNav .settings__underline,
#relatedSideNav a {
   margin-left: 25px;
   margin-right: 25px;
}

.profile__sidenav #settingsClose{
   position: absolute;
   top: 15px;
   right: 15px;
   font-size: 36px;
   margin-left: 50px;
   cursor: pointer;
}

.profile__sidenav #settingsClose:hover {
   color: #333;
}

.follower__profiles-section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.follower__profiles-container {
   padding: 150px 50px 0 50px;
   margin: 0 auto;
}

.follower__profile {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
   margin: 25px;
   min-width: 300px;
   font-size: 16px;
   font-weight: bold;
   padding: 25px 50px;
   border-radius: 35px;
   border: 3px solid #f3dbd6;
}

.follower__profile-img-container {
   width: 75px;
   height: 75px;
   border-radius: 50%;
   text-align: center;
   margin-right: 25px;
   position: relative;
   overflow: hidden;
   border: 1px solid #394961;
}

@media screen and (max-width: 768px) {
   .follower__profile {
      font-size: 14px;
   }

   .follower__profile-img-container {
      width: 50px;
      height: 50px;
   }
}

.profile_themes_img_container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.profile_themes_img_container img {
   width: 35%;
   margin: 15px;
}
