.stripe_form {
  padding: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.stripe_form_label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.stripe_form #card-errors,
.stripe_form #card-errors_sub {
  padding: 4px 0;
  color: #fa755a;
  font-size: 12px;
  font-weight: bold;
}

.stripe_form .token {
  color: #32325d;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.stripe_form_wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#stripe-token-handler {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  padding: 20px 30px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transform: translateY(0);
  opacity: 1;
  background-color: white;
}

#stripe-token-handler.is-hidden {
  opacity: 0;
  transform: translateY(-80px);
}

.stripe_form .form-row {
  width: 100%;
  height: 100px;
  float: left;
}

.stripe_form #card-element,
.stripe_form #card-element_sub {
  background-color: white;
  width: 100%;
  padding: 15px;
  border-radius: 0;
  border: 1px solid #ccc;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.stripe_form .btn-Stripe {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
}

.stripe_form .btn-Stripe:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}

.stripe_form #card-element--focus,
.stripe_form #card-element_sub--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripe_form #card-element--invalid,
.stripe_form #card-element_sub--invalid {
  border-color: #fa755a;
}

.stripe_form #card-element--webkit-autofill,
.stripe_form #card-element_sub--webkit-autofill {
  background-color: #fefde5 !important;
}

.payments_close_btn {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 35px;
  color: #333;
  cursor: pointer;
}

.amount_input {
  width: 150px;
  padding: 12px 15px;
  margin: 0 auto 25px auto;
  text-align: center;
  outline: none;
  border: 1px solid #ccc;
}

.stripe_hidden {
  display: none;
}

.stripe_spinner,
.stripe_spinner:before,
.stripe_spinner:after {
  border-radius: 50%;
}
.stripe_spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.stripe_spinner:before,
.stripe_spinner:after {
  position: absolute;
  content: "";
}
.stripe_spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #0066f0;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.stripe_spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #0066f0;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stripe_result {
  text-align: center;
}

.stripe_result p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
}

.stripe_checkmark {
  max-width: 100px;
  text-align: center;
}
