html {
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #333;
   font-family: 'proxima-nova', sans-serif;
   overflow-y: scroll;
   overflow-x: hidden;
   background: #fff;
   word-wrap: break-word;
   text-rendering: optimizeLegibility;
   width: 100vw;
}

* {
   -moz-osx-font-smoothing: grayscale;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
   display: block;
}

hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
   margin: 0;
   padding: 0;
}


/********** Fonts **********/
a {
   -webkit-text-decoration-skip: objects;
}

a, p, input, span, div, textarea {
   font-family: 'proxima-nova', sans-serif;
   letter-spacing: 0.5px;
   font-size: 16px;
}

a, p, div {
   line-height: 35px;
}

h1, h2, h3, h4, h5 {
   font-family: "Poppins", sans-serif;
   letter-spacing: 1px;
   font-weight: 700;
   -webkit-font-smoothing: auto;
   -webkit-font-smoothing: antialiased;
   -webkit-font-variant-ligatures: common-ligatures;
   -moz-font-variant-ligatures: common-ligatures;
   font-variant-ligatures: common-ligatures;
   text-rendering: optimizeLegibility;
   margin: 15px 0;
}

h1, h2 {
   font-size: 36px;
   line-height: 55px;
}

h3, h4 {
   font-size: 25px;
   line-height: 45px;
}

h5 {
   font-size: 20px;
   line-height: 35px;
}

@media screen and (max-width: 992px) {
   h1, h2 {
      font-size: 25px;
      line-height: 35px;
   }

   h3, h4, h5 {
      font-size: 20px;
   }
}

@media screen and (max-width: 768px) {
   h5 {
      font-size: 18px;
   }

   a, p, input, span, div {
      font-size: 14px;
   }

   a, p, div {
      line-height: 25px;
   }
}

.font__karla {
   font-family: 'Karla', sans-serif;
}

.font__prox-nov {
   font-family: 'proxima-nova', sans-serif;
}

a {
  color: #333;
  text-decoration: none!important;
}

.mention_tag {
   font-weight: bold;
   color: #DADCEB;
   text-decoration: none!important;
}


iframe {
   width: 100%!important;
   min-height: 550px!important;
}

blockquote {
   margin: 35px 0;
   padding: 25px 50px;
   box-shadow: inset 5px 0 0 0 #a8add0;
   font-size: 16px;
   line-height: 35px;
   text-align: center;
}

@media screen and (max-width: 768px) {
   blockquote {
      padding: 12px 0 12px 50px;
      text-align: left;
   }
}

.container-fluid {
   width: 100%;
   margin: 0 auto;
}

.col-lg-10 { width: 80%; flex: 0 0 80%; }
.col-lg-9 { width: 75%; flex: 0 0 75%; }
.col-lg-8 { width: 66.666%; flex: 0 0 66.666%; }
.col-lg-6 { width: 50%; flex: 0 0 50%; }
.col-lg-4 { width: 33.333%; flex: 0 0 33.333%; }
.col-lg-3 { width: 25%; flex: 0 0 25%; }
.col-lg-2 { width: 20%; flex: 0 0 20%; }
.col-lg { width: 100%; flex: 0 0 100%; }

@media screen and (max-width: 595px) {
   .col-lg-6, .col-lg-10 {
      width: 100%;
      flex: 0 0 100%;
   }
}

@media screen and (max-width: 768px) {
   .col-lg-6, .col-lg-10 {
      width: 100%;
      flex: 0 0 100%;
   }
}

.img-responsive {
   width: 100%;
   height: auto;
}

.mini-spacer {
   padding: 10px 0;
}

.semi-spacer {
   padding: 50px 0 0 0;
}

.spacer {
   padding: 50px 0;
}

@media screen and (max-width: 768px) {
   .desktop_spacer {
      display: none;
   }
}

.padding__container {
   padding: 100px;
}

@media screen and (max-width: 768px) {
   .padding__container {
      padding: 25px;
   }
}

.dis-none {
   display: none;
}

.icon-reg {
   max-width: 18px;
   height: auto;
}

.error__container {
   padding: 150px 50px 0 50px;
   margin: 0 auto;
}

.error-message {
   font-size: 16px;
   text-align: center;
}

@media screen and (max-width: 992px) {
   .error-message {
      font-size: 16px;
      text-align: center;
      margin: 150px 0;
   }
}

.error__msg {
   width: 90%;
   max-width: 700px;
   background: #ff7f7f;
   color: #fff;
   margin: 0 auto;
   padding: 15px;
   box-sizing: border-box;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   align-items: center;
   border-top: 3px solid #ff4c4c;
}

.error__msg-2 {
   width: 90%;
   max-width: 600px;
   color: #ff7f7f;
   margin: 0 auto;
   padding: 15px;
   box-sizing: border-box;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   align-items: center;
   font-weight: bold;
}

.error__msg-3 {
   width: 100%;
   background: #ff7f7f;
   color: #fff;
   margin: 0 auto;
   padding: 15px;
   box-sizing: border-box;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   align-items: center;
   border-top: 3px solid #ff4c4c;
}

.error__msg-4 {
   width: 100%;
   background: #ff7f7f;
   border-top: 3px solid #ff4c4c;
   color: #fff;
   padding: 15px;
   box-sizing: border-box;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: fixed;
   align-items: center;
   top: 0;
   z-index: 88888;
}

.error__exit {
   position: absolute;
   right: 0;
   font-size: 25px;
   cursor: pointer;
}

.success__msg {
   width: 100%;
   background: #69c893;
   color: #fff;
   padding: 15px;
   box-sizing: border-box;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: fixed;
   align-items: center;
   border-top: 3px solid #5eb484;
   top: 0;
   z-index: 88888;
}

.success__msg-2 {
   width: 100%;
   max-width: 600px;
   color: #69c893;
   margin: 0 auto;
   padding: 15px 0;
   box-sizing: border-box;
   text-align: left;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   font-weight: bold;
   align-items: center;
}

.regular__msg {
   width: 90%;
   max-width: 600px;
   background: #d2ccb9;
   color: #fff;
   margin: 0 auto;
   padding: 15px;
   box-sizing: border-box;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   align-items: center;
   border-top: 3px solid #c2b5a1;
}

.changeTop {
   top: 75px;
}

.regular__msg p:hover {
   color: #fff;
}

.regular__msg p,
.success__msg p,
.error__msg p,
.success__msg-2 p,
.error__msg-2 p,
.error__msg-3 p,
.error__msg-4 p {
   margin: 0 15px;
}

input {
   -webkit-appearance: none!important;
}

.btn__secondary {
   color: #333;
   border: 1px solid #333;
   cursor: pointer;
}

.btn__primary {
   color: #fff;
   background: #333;
   border-radius: 35px;
   font-weight: bold;
   cursor: pointer;
}

.noClick__btn {
   cursor: default!important;
   opacity: 0.5!important;
}

.btn__padding {
   padding: 0 25px;
}

#mainBody {
   padding: 100px 0;
   transition: 0.3s;
}

.bodyBlur {
   filter: blur(10px);
}

#mainWelcome {
   padding: 125px 25px;
}

#mainProject {
   padding: 50px 0 0 0;
}

#mainDash {
   padding: 0;
}

@media screen and (max-width: 992px) {
   #mainBody {
      padding: 0;
      transition: 0.3s;
   }

   #mainProject {
      padding: 0;
   }
}

/********************/
/* Pre Loaders */
/********************/

/* Welcome Page Preloader */
#preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #31375A;
   z-index: 999999;
   height: 100%;
   width: 100%;
   display: table;
}

.no-js #preloader, .oldie #preloader {
   display: none;
}

#loader {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.line-scale-pulse-out > div {
   background-color: #DADCEB;
   width: 4px;
   height: 35px;
   border-radius: 2px;
   margin: 2px;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   display: inline-block;
   -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
   animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
   -webkit-animation-delay: -0.4s !important;
   animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
   -webkit-animation-delay: -0.2s !important;
   animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
   0% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }

   50% {
      -webkit-transform: scaley(0.4);
      transform: scaley(0.4);
   }

   100% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }
}

@keyframes line-scale-pulse-out {
   0% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }

   50% {
      -webkit-transform: scaley(0.4);
      transform: scaley(0.4);
   }

   100% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }
}

/* Explore Loader */
.masonry-with-columns {
  columns: 4 200px;
  column-gap: 35px;
  padding: 15px;
}

.masonry-with-columns .loader_card {
  width: 150px;
  background: #f1f1f1;
  color: white;
  margin: 0 0 35px 0;
  display: inline-block;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

@media screen and (max-width: 768px) {
   .masonry-with-columns {
     columns: 2 100px;
     column-gap: 15px;
   }

   .masonry-with-columns .loader_card {
     margin: 0;
   }
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.masonry-with-columns .loader_card:nth-child(1) {
  height: 475px;
  line-height: 475px;
}
.masonry-with-columns .loader_card:nth-child(2) {
  height: 456px;
  line-height: 456px;
}
.masonry-with-columns .loader_card:nth-child(3) {
  height: 418px;
  line-height: 418px;
}
.masonry-with-columns .loader_card:nth-child(4) {
  height: 239px;
  line-height: 239px;
}
.masonry-with-columns .loader_card:nth-child(5) {
  height: 217px;
  line-height: 217px;
}
.masonry-with-columns .loader_card:nth-child(6) {
  height: 134px;
  line-height: 134px;
}
.masonry-with-columns .loader_card:nth-child(7) {
  height: 437px;
  line-height: 437px;
}
.masonry-with-columns .loader_card:nth-child(8) {
  height: 266px;
  line-height: 266px;
}
.masonry-with-columns .loader_card:nth-child(9) {
  height: 268px;
  line-height: 268px;
}
.masonry-with-columns .loader_card:nth-child(10) {
  height: 416px;
  line-height: 416px;
}
.masonry-with-columns .loader_card:nth-child(11) {
  height: 146px;
  line-height: 146px;
}
.masonry-with-columns .loader_card:nth-child(12) {
  height: 114px;
  line-height: 114px;
}
.masonry-with-columns .loader_card:nth-child(13) {
  height: 246px;
  line-height: 246px;
}
.masonry-with-columns .loader_card:nth-child(14) {
  height: 310px;
  line-height: 310px;
}
.masonry-with-columns .loader_card:nth-child(15) {
  height: 322px;
  line-height: 322px;
}

/**********/

/* loader for create project */
.loader_project,
.loader_micro {
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 999999;
   top: 0;
   left: 0;
   background: #fff;
   overflow-y: hidden;
   transition: 0.5s;
   display: none;
   justify-content: center;
   align-items: center;
}

.loader_project .loader-container,
.loader_micro .loader-container {
   width: 220px;
}

.loader_project .ball-wrapper,
.loader_micro .ball-wrapper {
   position: relative;
   display: inline-block;
   width: 50px;
   margin: 0 10px;
   padding-bottom: 10px;
}

.loader_project .ball-holder,
.loader_micro .ball-holder {
   position: relative;
   overflow: hidden;
   height: 130px;
}

.loader_project .ball,
.loader_micro .ball {
   position: absolute;
   bottom:0; left: 50%;
   display: block;
   width: 30px;
   height: 30px;
   border-radius: 25px;
   border: 1px solid #a8add0;
   background-color: #a8add0;
   transform: translateY(0px) translateX(-50%) translateZ(0);
   transform-origin: center;
   animation: loader_project 1s infinite linear;
   z-index: 2;
}

.loader_project .shadow,
.loader_micro .shadow {
   position: absolute;
   bottom: 9px;
   width: 100%;
   height: 6px;
   border-radius: 50%;
   background: rgb(161,160,161);
   opacity: 1;
   animation: shadow_loader 1s infinite linear;
   z-index: 1;
}

.ball-wrapper:nth-of-type(1) .ball,
.ball-wrapper:nth-of-type(1) .shadow {
   animation-delay: 0s;
}
.ball-wrapper:nth-of-type(2) .ball,
.ball-wrapper:nth-of-type(2) .shadow {
   animation-delay: 0.2s;
}
.ball-wrapper:nth-of-type(3) .ball,
.cube-wrapper:nth-of-type(3) .shadow {
   animation-delay: 0.3s;
}

@keyframes loader_project {
   0%   { transform: translate(-50%, 10px); }
   40%  { transform: translate(-50%, -90px); width: 30px; height: 30px; }
   50%  { transform: translate(-50%, -100px); width: 30px; height: 30px; }
   65%  { transform: translate(-50%, -90px); width: 30px; height: 30px; }
   75%  { transform: translate(-50%, 0px); width: 30px; height: 30px; }
   100% { transform: translate(-50%, 10px);  width: 50px; height: 15px;}
}

@keyframes shadow_loader {
   0%   { transform: scale(0.9, 0.9); opacity: 1; }
   50%  { transform: scale(0.2, 0.2); opacity: 0.3; }
   100% { transform: scale(0.9, 0.9); opacity: 1; }
}


.loader_overlay {
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 999998;
   top: 0;
   left: 0;
   background: #fff;
   overflow-y: hidden;
   transition: 0.5s;
}

.create_loader.loader_overlay {
   display: none;
}

.loader_wrapper {
   position: relative;
   width: 100%;
   height: 100%;
}

.loader {
   border: 10px solid #fff;
   border-radius: 15px;
   border-top: 10px solid #a8add0;
   border-right: 10px solid #a8add0;
   border-bottom: 10px solid #a8add0;
   border-left: 10px solid #a8add0;
   width: 75px;
   height: 75px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   margin: 0 auto;
}

.loader_text {
   font-size: 16px;
   position: absolute;
   top: 65%;
   left: 0;
   right: 0;
   text-align: center;
   padding: 0 15px;
}

.loader_text-1,
.loader_text-2,
.loader_text-3,
.loader_text-4,
.loader_text-5 {
   display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modalBackground,
#micropostPop {
   display: none;
   position: fixed;
   z-index: 999999;
   padding: 150px 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.microModalBackground {
   display: none;
   position: fixed;
   z-index: 999999;
   padding: 150px 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.groupModalBackground {
   display: none;
   position: fixed;
   z-index: 999999;
   padding: 150px 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.popModalMeta {
   display: block;
}

.modal-content, .modal-content2 {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 50px;
   box-sizing: border-box;
   border-radius: 10px;
   width: 90%;
   max-width: 600px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.6s;
   animation-name: animatetop;
   animation-duration: 0.6s;
}

.modal-content2 {
   max-width: 900px;
}

@-webkit-keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
}

@keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
}

.closeModal, .closeModal2, .closeModal3 {
   float: right;
   cursor: pointer;
}

.delModal {
   color: #fff;
   cursor: pointer;
   font-size: 14px;
}

.modal-header {
   padding: 2px 16px;
   color: #333;
   text-align: center;
}

.modal-header p {
   font-size: 25px;
   font-weight: 500;
   margin: 0 0 15px 0;
}

.modal-body {
   text-align: center;
}

.modal-footer {
   padding: 10px 0;
   display: flex;
   border-radius: 35px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   color: #333;
}

.modal-footer a {
   padding: 8px 25px;
   transition: 0.3s;
}

.modal-footer span {
   padding: 8px 35px;
   transition: 0.3s;
   line-height: 35px;
}

.modal-footer a:hover,
.modal-footer span:hover {
   opacity: 0.5;
}

@media screen and (max-width: 768px) {
   .modal-content {
      padding: 25px;
   }

   .modal-content2 {
      width: 95%;
   }

   .modal-2-sm {
      padding: 50px 0;
   }

   .modal-footer a, .delModal {
      font-size: 12px;
   }
}

.main__wrapper {
   width: 80%;
   padding: 50px;
   justify-content: center;
   flex-direction: column;
   display: flex;
   background: #fff;
   margin: 0 auto 50px auto;
}

.main__title {
   margin: 0 auto;
   text-align: center;
   margin: 25px auto;
   text-transform: capitalize;
   font-size: 25px;
}

.main__info {
   text-align: center;
   display: inline-block;
   font-size: 14px;
   width: 80%;
   max-width: 500px;
   margin: 0 50px;
   line-height: 25px;
   font-weight: 300;
}

.main__info a {
   color: #333;
   text-decoration: underline!important;
}

.main__info a:hover {
   opacity: 0.8;
}

.main__info-container {
   width: 100%;
   justify-content: center;
   margin: 25px 0;
}

.feed__container {
   padding: 50px 25px 0 25px;
   margin: 0 auto;
}

.feed__container-text {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.bck_btn {
   margin-top: 50px;
   margin-left: 50px;
   max-width: 35px;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
   border-radius: 50%;
   cursor: pointer;
}

@media screen and (max-width: 992px) {
   .main__wrapper {
      padding: 25px 15px;
   }

   .main__title {
      font-size: 18px;
   }

   .main__info-container {
      margin: 0;
      padding: 0 10px;
   }

   .main__info {
      width: 100%;
      font-size: 13px;
      line-height: 20px;
      margin: 0;
   }
}

.feed__text,
.feed__text a {
   font-size: 16px;
   margin-top: 15px;
   line-height: 30px;
}

.main__container {
   width: 90%;
   max-width: 900px;
   padding: 50px;
   margin: 0 auto;
   background: #fff;
}

@media screen and (max-width: 768px) {
   .main__container {
      padding: 10px;
   }
}

.profile__plus {
   color: #333;
   font-size: 30px;
   margin-left: 15px;
   vertical-align: middle;
}

.invite__container {
   width: 100%;
   max-width: 900px;
   padding: 0 50px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
}

.invite__container input {
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   letter-spacing: 1px;
   padding: 15px 0;
   text-indent: 35px;
   background: #fff;
   border: 1px solid #ccc;
   border-radius: 35px;
}

.invite__container button {
   background: #fff;
   border: 1px solid #ccc;
   border-radius: 35px;
   padding: 0 25px;
   margin-left: 25px;
}

@media screen and (max-width: 595px) {
   .invite__container {
      padding: 0 15px;
   }
   .invite__container input {
      font-size: 10px;
      text-indent: 0;
      text-align: center;
   }

   .invite__container button img{
      max-width: 12px;
   }
}

.invite__user {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   align-items: center;
   margin: 50px auto;
}

.invite__user-name {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 600;
   min-width: 200px;
   justify-content: center;
   align-items: center;
   padding: 15px;
   border-radius: 15px;
   color: #333;
   cursor: pointer;
   background: #fff;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.invite__profile-img-container {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   text-align: center;
   margin-right: 15px;
   position: relative;
   overflow: hidden;
   border: 1px solid #394961;
}

.invite__profile-img {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-right: 15px;
   border: 1px solid #394961;
}

.hidden-btn {
   background: transparent;
   border: none;
}

.hero__img-container {
   width: 100%;
   min-height: 700px;
   text-align: center;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   z-index: 0;
}

.hero__img,
.profile__img {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   z-index: 0;
   object-fit: cover;
   top: 0;
   left: 0;
}

.hero__overlay {
   width: 100%;
   height: 100%;
   z-index: 555555;
   position: absolute;
   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 6));
   opacity: 0.15;
}

@media screen and (max-width: 768px) {
   .hero__img-container {
      min-height: 450px;
   }
}

.icon-bar {
  position: fixed;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
   display: flex;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   flex-direction: row;
   justify-content: center;
   width: 35px;
   height: 35px;
   transition: all .3s ease;
   border-radius: 50%;
   color: #333;
   font-size: 15px;
   margin: 35px 0;
   cursor: pointer;
}

.i_amounts {
   margin: 0;
}

.icon-bar a i {
   margin-left: 15px;
}

@media screen and (max-width: 992px) {
   .icon-bar a {
      color: #fff;
      cursor: pointer;
      flex-direction: row;
      justify-content: flex-end;
      margin: 10px 0;
   }

   .i_amounts {
      margin: 0 15px 0 0;
      order: 1;
   }

   .icon-bar a i {
      order: 2;
   }
}

.icon-bar iframe#twitter-widget-0 {
   height: 35px!important;
   min-height: 0!important;
}

.icon-bar #twitter-widget-0 body {
   margin: 0;
   padding: 0;
   background: 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon-bar #twitter-widget-0 i {
   height: auto!important;
   background-image: none!important;
   content: "\f099"!important;
}

.icon-bar #twitter-widget-0 .btn .label {
   display: none!important;
}

@media screen and (max-width: 992px) {
   .icon-bar {
      top: 45%;
      right: 25px;
      left: auto;
      z-index: 6666;
   }
}

.modal-footer_private-group {
   flex-direction: column;
}

.modal-footer_private-group a {
   margin: 0 0 25px 0;
}
