/* Main Nav */
.topnav {
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
   position: fixed;
   width: 100%;
   border-bottom: 1px solid #f1f1f1;
   height: 100px;
   z-index: 999998;
   transition: 0.3s;
}

.topnav.shadow {
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
   height: 75px;
}

.topnav-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
}

.topnav__logo {
   font-size: 20px;
   color: #31375A;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 3px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.topnav__logo img {
   width: 50px;
   margin-right: 25px;
}

.topnav__logo:hover {
   background: transparent!important;
}

.logo_beta {
   margin-left: 10px;
   font-size: 16px;
   font-weight: 300;
   text-transform: lowercase;
}

@media screen and (max-width: 768px) {
   .topnav__logo.user_beta {
      flex-direction: column;
   }

   .topnav__logo.user_beta .logo_beta {
      margin-left: 0;
   }
}

.topnav .search-container {
   float: left;
   width: 100%;
   margin: 0 50px;
}

.landing-nav .search-container  {
   width: 50%;
   margin: 0;
}

.landing-nav .search-container.mobile_search  {
   width: 100%;
   margin: 0 0 25px 0;
}

.topnav .search-container form,
.landing-nav .search-container form {
   display: flex;
   align-items: center;
}

.topnav input[type=text],
.landing-nav input[type=text] {
   height: 40px;
   font-size: 12px;
   width: 50%;
   border: none;
   border-top-left-radius: 35px;
   border-bottom-left-radius: 35px;
   text-indent: 25px;
   background: #f1f1f1;
   letter-spacing: 1px;
   min-width: 250px;
   outline: none !important;
   transition: 0.5s;
}

@media screen and (max-width: 992px) {
   .topnav input[type=text] {
      border-radius: 35px;
   }
}

.landing-nav input[type=text] {
   width: 100%;
   min-width: 0;
   background: transparent;
   border: 2px solid #fff;
   color: #fff;
   border-radius: 35px;
}

.landing-nav .mobile_search input[type=text] {
   border: none;
   border-bottom: 2px solid #fff;
   border-radius: 0;
   text-indent: 0;
}

.landing-nav_search::placeholder {
  color: #fff;
  opacity: 1;
}

.landing-nav_search:-ms-input-placeholder {
  color: #fff;
}

.landing-nav_search::-ms-input-placeholder {
  color: #fff;
}

.topnav input[type=text]:focus {
   width: 100%;
}

.topnav .search-container button,
.landing-nav .search-container button {
   float: right;
   padding: 0 20px;
   height: 40px;
   background: #ddd;
   border: none;
   cursor: pointer;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   transition: 0.3s;
}

.landing-nav .search-container button {
   background: transparent;
   border: 2px solid #fff;
   border-left: none;
}

.landing-nav .search-container.mobile_search button {
   padding: 0;
   border: none;
   border-bottom: 2px solid #fff;
   cursor: pointer;
   border-radius: 0;
}

.topnav .search-container button img,
.landing-nav .search-container button img {
   max-width: 12px;
}

.topnav .search-container button:hover {
   background: #ccc;
}

.topnav.mobile_topnav .close_icon {
   display: none;
   margin-left: 30px;
   cursor: pointer;
}

@media screen and (max-width: 992px) {
   .topnav .search-container button {
      position: fixed;
      right: 25px;
      border-radius: 35px;
      background: #fff;
      box-shadow: rgba(0,0,0,.1) 0 2px 10px 1px;
   }

   .topnav .search-container button.open_btn {
      position: fixed;
      right: 70px;
      border-radius: 0;
      background: #ddd;
      border: none;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      box-shadow: none;
   }

   .topnav.mobile_topnav .close_icon {
      display: block;
   }
}

@media screen and (max-width: 595px) {
   .landing-nav .search-container.desktop_search  {
      display: none;
   }

   .topnav input[type=text] {
      font-size: 10px;
      text-align: center;
      text-indent: 0;
      border-radius: 35px;
   }

   .topnav .search-container button {
      padding: 13px 20px 11px 20px;
   }

   .topnav .search-container button img {
      max-width: 10px;
   }

}

nav.item-list {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.topnav .item-list a {
   float: right;
   display: flex;
   align-items: center;
   color: #333;
   text-align: center;
   text-decoration: none;
   font-size: 14px;
   background: transparent;
   border-radius: 10px;
   padding: 10px 15px;
   margin: 0 5px;
   transition: 0.3s;
}

.topnav__user {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 600;
   justify-content: flex-start;
   min-width: 125px;
}

.topnav__profile-img-container {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   text-align: center;
   margin-right: 15px;
   position: relative;
   overflow: hidden;
   border: 1px solid #394961;
}

.topnav .item-list .create-icon,
.create-icon {
   background: #f1f1f1;
   cursor: pointer;
}

.topnav a:hover {
   background: #f1f1f1;
}

.topnav a:hover {
   background: #f1f1f1;
}

.drop_menu {
   float: left;
   overflow: hidden;
   width: 100%;
}

.drop_menu .dropBtn {
   cursor: pointer;
   font-size: 16px;
   border: none;
   outline: none;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

.drop_nav {
   box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 10px 1px;
   position: absolute;
   border-radius: 15px;
   min-width: 160px;
   border-top: none;
   background: #fff;
   z-index: 999998;
   top: -300px;
   right: 23%;
   transition: .6s;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.drop_nav.showDrop.dropNavTop {
   top: 75px;
}

.drop_nav a {
   float: none;
   color: black;
   padding: 12px 16px;
   border-bottom: 1px solid #f1f1f1;
   text-decoration: none;
   display: block;
   text-align: left;
   font-weight: bold;
}

.drop_nav a:hover {
  background: transparent;
}

.drop_nav a img {
   margin-right: 15px;
}

.showDrop {
   top: 100px;
}

@media screen and (max-width: 992px) {
   .topnav.mobile_topnav {
      right: -100%;
      transition: 0.3s;
   }

   .topnav.mobile_topnav.open_search {
      right: 0;
   }

   .topnav {
      padding: 25px;
   }

   .topnav-left {
      width: 100%;
   }

   .topnav .search-container {
      margin: 0 0 0 25px;
   }

   .topnav input[type=text] {
      width: 100%;
      min-width: 0;
   }

   nav.item-list {
      display: none;
   }

   .mobile-nav {
      overflow: visible!important;
   }

   .drop_nav {
      display: flex;
      position: absolute;
      min-width: 160px;
      border-right: 1px solid #f1f1f1;
      border-left: 1px solid #f1f1f1;
      border-bottom: none;
      background: #fff;
      z-index: 9999999;
      bottom: -300px;
      top: auto;
      right: 0!important;
      transition: .3s;
   }

   .drop_nav.showDrop {
      bottom: 65px;
   }

   .drop_nav.showDrop.dropNavTop {
      bottom: 62px;
      top: auto;
   }

   .drop_nav a {
      float: none;
      color: black;
      padding: 12px 15px;
      border-top: 1px solid #f1f1f1;
      border-bottom: none;
      text-decoration: none;
      font-size: 14px!important;
      display: block;
      text-align: left;
   }
}

.tooltip {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 275%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.item-list a:hover .tooltiptext {
  visibility: visible;
}

/**********/

/* Mobile Nav */
.mobile-nav {
   display: none;
   overflow: hidden;
   background-color: #fff;
   position: fixed;
   box-shadow: rgba(0,0,0,.1) 0 2px 10px 1px;
   bottom: 15px;
   width: 80%;
   left: 0;
   right: 0;
   margin: 0 auto;
   border-radius: 15px;
   z-index: 999998;
}

.mobile-nav__item-list {
   width: 100%;
   padding: 10px 0;
   list-style-type: none;
   justify-content: center;
   display: flex;
   flex-direction: row;
   margin: 0;
   align-items: center;
}

.mobile-nav__item {
   margin: 0 18px;
}

.main-topnav__profile {
   font-weight: 500;
}

.main-topnav__icon {
   max-width: 18px;
   height: auto;
   margin-right: 8%;
}

.mobile-nav a {
   color: #333;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
   padding: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mobile-nav .mobile_active {
   border-bottom: 1px solid #333;
}

.mobile-nav__icon {
   max-width: 18px;
   height: auto;
}

@media screen and (max-width: 992px) {
   .mobile-nav {
      display: block;
   }
}

.mobile-nav__item .create-icon {
   padding: 15px;
   cursor: pointer;
   border-radius: 10px;
}

.post_container {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   top: -300px;
   bottom: auto;
   flex-direction: row;
   left: auto;
   right: 0;
   width: 100%;
   max-width: 325px;
   margin: 0 auto;
   font-weight: bold;
   color: #fff;
   border-top-left-radius: 35px;
   border-top-right-radius: 35px;
   transition: 0.6s;
   font-size: 16px;
}

.post_container.showPostBtns {
   top: 100px;
}

.post_container.showPostBtns.postBtnsTop {
   top: 75px;
}

.post_container div {
   width: 150px;
   text-align: center;
   height: 50px;
   background: #747eb4;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   font-size: 14px;
   cursor: pointer;
   transition: 0.3s;
}

.post_container div:hover {
   opacity: 0.6;
   cursor: pointer;
}

.post_container div a {
   color: #fff!important;
   text-align: center;
   font-size: 16px;
}

.post_container div a:hover {
   background: none;
}


@media screen and (max-width: 992px) {
   .post_container {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: -300px;
      top: auto;
      flex-direction: row;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      font-weight: bold;
      color: #fff;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
      transition: 0.6s;
      font-size: 16px;
   }

   .post_container.showPostBtns {
      bottom: 65px;
      top: auto;
   }

   .post_container.showPostBtns.postBtnsTop {
      top: auto;
   }

   .post_container div {
      width: 150px;
      text-align: center;
      height: 50px;
      background: #747eb4;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 16px;
      cursor: pointer;
   }
}

.post_container div a {
   color: #fff;
   font-size: 16px;
}


.post_container .blog_post_btn {
}

/**********/

/* Landing Page Nav */
.landing-nav {
   background-color: transparent;
   position: fixed;
   width: 100%;
   z-index: 99998;
   height: 100px;
   padding: 0 50px;
   transition: 0.3s;
   display: flex;
   align-items: center;
}

.landing-nav_wrapper {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.landing-nav__left,
.landing-nav__right {
   width: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
}

.landing-nav__left {
   justify-content: flex-start;
}

.nav_logo {
   display: inline-block;
   position: absolute;
   margin: 0;
   padding: 0;
   left: 40px;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.nav_logo a {
   display: block;
   margin: 9px 0 0 0;
   padding: 0;
   outline: 0;
   border: none;
   color: #31375A;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.nav_logo a:hover {
   color: #31375A;
}

.welcome_header .header-logo a {
   color: #fff;
}

.welcome_header .header-logo a:hover {
   color: #fff;
}

.landing-nav__right {
   justify-content: flex-end;
}

.landing-nav__center {
   width: 50%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.landing-nav__center ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   height: 100%;
   width: 100%;
   align-items: center;
   transition: 0.3s;
}

.landing-nav__center ul li {
   margin: 0 4%;
}

.landing-nav__center ul li a {
   display: block;
   line-height: 50px;
   height: 50px;
   width: 50px;
}

.landing-nav li a:hover {
  color: #707070;
}

.landing-nav .nav_social {
   list-style: none;
   margin: 0 25px 0 0;
   transition: 0.3s;
}

.landing-nav .nav_social li {
   display: inline-block;
   font-size: 20px;
   padding: 0;
   margin-right: 10px;
}

.landing-nav .nav_social li:last-child {
   margin-right: 0;
}

.nav_social i {
   font-size: 14px;
   right: 0;
   text-align: center;
   display: inline-block;
   width: 33px;
   height: 33px;
   line-height: 29px;
   border: 2px solid #31375A;
   color: #31375A;
   border-radius: 50%;
   top: 0;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.welcome_header .nav_social i {
   border: 2px solid #fff;
   color: #fff;
}

.landing-nav .nav_social li a {
   display: block;
   line-height: 35px;
   height: 35px;
   width: 35px;
   text-align: center;
   color: #333;
   border-radius: 50%;
}

@media screen and (max-width: 992px) {
   .landing-nav {
      padding: 0 25px;
   }

   .landing-nav__center {
      display: none;
   }
}

@media screen and (max-width: 768px) {
   .landing-nav .nav_social {
      display: none;
   }
}

/* Side Menu*/
.side_nav {
   background: #31375A;
   color: rgba(255, 255, 255, 0.25);
   font-family: "montserrat-light", sans-serif;
   padding: 35px;
   height: 100%;
   width: 280px;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 700;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   -webkit-transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   -webkit-transform: translateX(100%);
   -ms-transform: translateX(100%);
   transform: translateX(100%);
   visibility: hidden;
}

.side_nav a,
.side_nav a:visited {
   color: rgba(255, 255, 255, 0.5);
}

.side_nav a:hover,
.side_nav a:focus,
.side_nav a:active {
   color: white;
}

.side_nav h3 {
   font-family: "montserrat-semibold", sans-serif;
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   line-height: 35px;
   margin: 0 0 25px 0;
   color: #fff;
   font-weight: 800;
}

.side_nav p {
   margin-bottom: 25px;
}

.side_nav__content {
   position: relative;
   left: 50px;
   opacity: 0;
   visibility: hidden;
}

.side_nav__list {
   font-family: "montserrat-regular", sans-serif;
   font-size: 12px;
   margin: 25px 0 35px 0;
   list-style: none;
}

.side_nav__list li {
   padding-left: 0;
   line-height: 45px;
}

.side_nav__list a,
.side_nav__list a:visited {
   font-size: 15px;
   color: #fff;
}

.side_nav__social {
   list-style: none;
   display: inline-block;
   margin: 0;
   font-size: 1.8rem;
}

.side_nav__social li {
   margin-right: 12px;
   padding-left: 0;
   display: inline-block;
}

.side_nav__social li a {
   color: rgba(255, 255, 255, 0.15);
}

.side_nav__social li a:hover,
.side_nav__social li a:focus {
   color: white;
}

.side_nav__social li:last-child {
   margin: 0;
}

.side_nav__close {
   display: block;
   height: 30px;
   width: 30px;
   border-radius: 3px;
   position: absolute;
   top: 36px;
   right: 30px;
   font: 0/0 a;
   text-shadow: none;
   color: transparent;
   z-index: 800;
}

.side_nav__close span::before,
.side_nav__close span::after {
   content: "";
   display: block;
   height: 2px;
   width: 12px;
   background-color: #FFFFFF;
   position: absolute;
   top: 50%;
   left: 9px;
   margin-top: -1px;
}

.side_nav__close span::before {
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.side_nav__close span::after {
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.menu-is-open .side_nav {
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
   visibility: visible;
   -webkit-overflow-scrolling: touch;
}

.menu-is-open .side_nav .side_nav__content {
   opacity: 1;
   visibility: visible;
   -webkit-transition-property: all;
   transition-property: all;
   -webkit-transition-duration: 0.5s;
   transition-duration: 0.5s;
   -webkit-transition-timing-function: ease-in-out;
   transition-timing-function: ease-in-out;
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s;
   left: 0;
}

/* Hamburger Menu */
.hamburger_menu {
   position: relative;
   height: 42px;
   width: 42px;
   line-height: 42px;
   font-family: "montserrat-medium", sans-serif;
   font-size: 1.3rem;
   text-transform: uppercase;
   letter-spacing: .3rem;
   color: #31375A;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.hamburger_menu.opaque {
   background-color: #31375A;
}

.hamburger_menu:hover,
.hamburger_menu:focus {
   color: #FFFFFF;
}

.hamburger_menu .ingredients {
   display: block;
   width: 22px;
   height: 2px;
   margin-top: -1px;
   position: absolute;
   left: 10px;
   top: 50%;
   right: auto;
   bottom: auto;
   background-color: #31375A;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.hamburger_menu.opaque .ingredients {
   background-color: #fff;
}

.welcome_header .ingredients {
   background-color: #fff;
}

.hamburger_menu .ingredients::before,
.hamburger_menu .ingredients::after {
   content: '';
   width: 100%;
   height: 100%;
   background-color: inherit;
   position: absolute;
   left: 0;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.hamburger_menu .ingredients::before {
   top: -9px;
}

.hamburger_menu .ingredients::after {
   bottom: -9px;
}
