/* Main Nav */
.topnav {
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
   position: fixed;
   width: 100%;
   border-bottom: 1px solid #f1f1f1;
   height: 100px;
   z-index: 999998;
   transition: 0.3s;
}

.topnav.shadow {
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
   height: 75px;
}

.topnav-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
}

.topnav__logo {
   font-size: 20px;
   color: #31375A;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 3px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.topnav__logo img {
   width: 50px;
   margin-right: 25px;
}

.topnav__logo:hover {
   background: transparent!important;
}

.logo_beta {
   margin-left: 10px;
   font-size: 16px;
   font-weight: 300;
   text-transform: lowercase;
}

@media screen and (max-width: 768px) {
   .topnav__logo.user_beta {
      flex-direction: column;
   }

   .topnav__logo.user_beta .logo_beta {
      margin-left: 0;
   }
}

.topnav .search-container {
   float: left;
   width: 100%;
   margin: 0 50px;
}

.topnav .search-container form {
   display: flex;
   align-items: center;
}

.topnav input[type=text] {
   height: 40px;
   font-size: 12px;
   width: 50%;
   border: none;
   border-top-left-radius: 35px;
   border-bottom-left-radius: 35px;
   text-indent: 25px;
   background: #f1f1f1;
   letter-spacing: 1px;
   min-width: 250px;
   outline: none !important;
   transition: 0.5s;
}

.topnav input[type=text]:focus {
   width: 100%;
}

.topnav .search-container button {
   float: right;
   padding: 0 20px;
   height: 40px;
   background: #ddd;
   border: none;
   cursor: pointer;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   transition: 0.3s;
}

.topnav .search-container button img {
   max-width: 12px;
}

.topnav .search-container button:hover {
   background: #ccc;
}

@media screen and (max-width: 595px) {
   .topnav input[type=text] {
      font-size: 10px;
      text-align: center;
      text-indent: 0;
   }

   .topnav .search-container button {
      padding: 13px 20px 11px 20px;
   }

   .topnav .search-container button img {
      max-width: 10px;
   }

}

nav.item-list {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.topnav .item-list a {
   float: right;
   display: flex;
   align-items: center;
   color: #333;
   text-align: center;
   text-decoration: none;
   font-size: 14px;
   background: transparent;
   border-radius: 10px;
   padding: 15px;
   margin: 0 5px;
   transition: 0.3s;
}

.topnav__user {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 600;
   justify-content: flex-start;
   min-width: 125px;
}

.topnav__profile-img-container {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   text-align: center;
   margin-right: 15px;
   position: relative;
   overflow: hidden;
   border: 1px solid #394961;
}

.topnav .item-list .create-icon {
   background: #f1f1f1;
}

.topnav a:hover {
   background: #f1f1f1;
}

.topnav a:hover {
   background: #f1f1f1;
}

.drop_menu {
   float: left;
   overflow: hidden;
   width: 100%;
}

.drop_menu .dropBtn {
   cursor: pointer;
   font-size: 16px;
   border: none;
   outline: none;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

.drop_nav {
   display: none;
   position: absolute;
   min-width: 160px;
   border-bottom: 1px solid #f1f1f1;
   border-right: 1px solid #f1f1f1;
   border-left: 1px solid #f1f1f1;
   border-top: none;
   background: #fff;
   z-index: 9999999;
   top: 100px;
   right: 0;
   transition: .3s;
}

.drop_nav.dropNavTop {
   top: 75px;
}

.drop_nav a {
   float: none;
   color: black;
   padding: 12px 16px;
   border-bottom: 1px solid #f1f1f1;
   text-decoration: none;
   display: block;
   text-align: left;
}

.drop_nav a:hover {
  background: transparent;
}

.showDrop {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 992px) {
   .topnav {
      padding: 25px;
   }

   .topnav-left {
      width: 100%;
   }

   .topnav .search-container {
      margin: 0 0 0 25px;
   }

   .topnav input[type=text] {
      width: 100%;
      min-width: 0;
   }

   nav.item-list {
      display: none;
   }
}

/**********/

/* Mobile Nav */
.mobile-nav {
   display: none;
   overflow: hidden;
   background-color: #fff;
   position: fixed;
   bottom: 0;
   border-top: 1px solid #f1f1f1;
   width: 100%;
   z-index: 999998;
}

.mobile-nav__item-list {
   width: 100%;
   padding: 15px 0;
   list-style-type: none;
   justify-content: center;
   display: flex;
   flex-direction: row;
   margin: 0;
   align-items: center;
}

.mobile-nav__item {
   margin: 0 30px;
}

.main-topnav__profile {
   font-weight: 500;
}

.main-topnav__icon {
   max-width: 18px;
   height: auto;
   margin-right: 8%;
}

.mobile-nav a {
   color: #333;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
}

.mobile-nav__icon {
   max-width: 18px;
   height: auto;
}

@media screen and (max-width: 992px) {
   .mobile-nav {
      display: block;
   }
}

/**********/

/* Landing Page Nav */
.landing-nav {
   background-color: transparent;
   position: fixed;
   width: 100%;
   z-index: 99999;
   display: flex;
   flex-direction: row;
   height: 100px;
   padding: 0 50px;
   transition: 0.3s;
}

.landing-nav__left,
.landing-nav__right {
   width: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.landing-nav__left {
   justify-content: flex-start;
}

.landing-nav__right {
   justify-content: flex-end;
   position: absolute;
   right: 0;
   padding: 35px 50px;
}

.landing-nav__center {
   width: 50%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.landing-nav__center ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   height: 100%;
   width: 100%;
   align-items: center;
   transition: 0.3s;
}

.landing-nav__center ul li {
   margin: 0 4%;
}

.landing-nav__center ul li a {
   display: block;
   text-decoration: none;
   color: #333;
   font-weight: 500;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2px;
   height: 100%;
   transition: 0.3s;
}

.landing-nav li a:hover {
  color: #707070;
}

.landing-nav .nav_social {
   list-style: none;
   margin: 0;
}

.landing-nav .nav_social li {
   display: inline-block;
   font-size: 20px;
   padding: 0;
   margin-right: 10px;
}

.landing-nav .nav_social li:last-child {
   margin-right: 0;
}

.landing-nav .nav_social li a {
   display: block;
   line-height: 50px;
   height: 50px;
   width: 50px;
   text-align: center;
   background-color: #fff;
   color: #333;
   border-radius: 50%;
}

.landing-nav.landing_background {
   background: #fff;
   height: 75px;
}

.auth-login__btn,
.auth-sign__btn {
   padding: 5px 25px;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
   line-height: 25px;
   transition: 0.3s;
   text-align: center;
   font-weight: 600;
}

.auth-login__btn {
   margin: 0 25px 0 0;
}

.auth-login__btn {
   border: 1px solid #31375A;
   color: #31375A;
}

.auth-login__btn:hover {
   background: #31375A;
   color: #fff;
}

.auth-sign__btn {
   background: #31375A;
   border: 1px solid #31375A;
   color: #fff;
}

.auth-sign__btn:hover {
   background: #fff;
   color: #31375A;
}

.ham__menu {
   display: none;
   flex-direction: column;
   cursor: pointer;
}

.ham__menu .ingredients {
   width: 20px;
   height: 2px;
   background: #333;
   margin: 2px 0;
}

.overlay {
   height: 0%;
   width: 100%;
   position: fixed;
   z-index: 999998;
   top: 0;
   left: 0;
   background-color: #fff;
   overflow-y: hidden;
   transition: 0.5s;
}

.overlay-content {
   position: relative;
   top: 15%;
   width: 100%;
   text-align: center;
}

.overlay a {
   margin: 35px 0;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 14px;
   color: #333;
   display: block;
   transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
   color: #707070;
   cursor: pointer;
}

.overlay .landingNavClose {
   position: absolute;
   top: 15px;
   right: 25px;
   margin: 0;
   font-size: 40px;
}

@media screen and (max-width: 992px) {
   .landing-nav {
      padding: 0 25px;
   }

   .landing-nav .nav_social {
      display: none;
   }

   .ham__menu {
      display: flex;
   }

   .landing-nav__left,
   .landing-nav__right {
      width: auto;
   }

   .overlay-content .auth-login__btn,
   .overlay-content .auth-sign__btn {
      margin: 25px auto;
      max-width: 250px;
   }

   .landing-nav__center {
      display: none;
   }
}
