.notification_container {
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding: 100px;
}

.notification_wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   margin: 25px 0 0 0;
   width: 100%;
}

.notification_container .notification {
   font-size: 18px;
   font-weight: bold;
   height: 75px;
   display: flex;
   width: 90%;
   text-align: center;
   padding: 35px;
   justify-content: center;
   align-items: center;
   border: 1px solid #ccc;
}

.notif_date {
   font-size: 14px;
   font-weight: bold;
   color: #ccc;
}

@media screen and (max-width: 595px) {
   .notification_container {
      padding: 25px;
      margin: 15px;
   }

   .notification_container .notification {
      font-size: 14px;
      height: 50px;
   }

   .notif_date {
      font-size: 12px;
   }
}

.notif_btm_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.notif_request_profile,
.notif_request_btn {
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background: #f1f1f1;
  padding: 8px 12px;
  margin: 10px 0 10px 10px;
  line-height: 15px;
}

.notif_request_btn {
  background: #0066f0;
  color: #fff;
}

.notif_request_btn.decline {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
}
