<!DOCTYPE html>

<html class="no-js" lang="en">

   <head>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158765968-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-158765968-1');
      </script>


      <!-- Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta property="description" name="description" content="Create, explore, and share your ideas on a powerful social writing platform." data-app />
      <meta name="google-site-verification" content="_hdPpgLR0QEFHs3hphfVbMIbXf5SLzrNIV4vjThAhZc" />

      <meta property="twitter:site" name="twitter:site" content="@myhryzn" data-app>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="Create, explore, and share your ideas on a powerful social writing platform." data-app />
      <meta name="twitter:title" content="File Not Found | Hryzn" />
      <meta name="twitter:site" content="@myhryzn" />
      <meta name="twitter:creator" content="@myhryzn" />

      <meta property="og:site_name" content="Hryzn">
      <meta property="og:description" name="og:description" content="Create, explore, and share your ideas on a powerful social writing platform." data-app />
      <meta property="og:title" name="og:title" content="File Not Found | Hryzn" data-app>
      <meta property="og:type" name="og:type" content="website" data-app>
      <meta property="og:url" name="og:url" content="www.myhryzn.com" data-app>

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/ppc1ait.css">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,500,600,700|IBM+Plex+Serif:300,300i,400,500,600,700" rel="stylesheet">

      <!-- Site CSS -->
      <link href="https://www.myhryzn.com/img/logos/hryzn-webclip-logo.png" rel="apple-touch-icon" />
      <link rel="icon"  href="https://www.myhryzn.com/img/logos/hryzn-favicon.ico" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>


      <link rel="stylesheet" type="text/css" href="https://www.myhryzn.com/css/welcomeNav.css" />
      <link rel="stylesheet" type="text/css" href="https://www.myhryzn.com/css/welcome.css" />


      <link rel="stylesheet" type="text/css" href="https://www.myhryzn.com/dist/css/style.min.css" />


      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <title>SSL Certificate Error | Hryzn</title>

   </head>

   <body id="top">



      <!-- Landing Nav -->
      <header class="s-header ">

         <div class="header-logo">
            <a href="https://www.myhryzn.com/" class="topnav__logo">Hryzn<em class="logo_beta">BETA</em></a>
         </div>

         <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span></span></a>

            <div class="header-nav__content">
               <h3>Find your voice</h3>

               <ul class="header-nav__list">
                  <li class="current"><a href="https://www.myhryzn.com#home" title="home">Home</a></li>
                  <li><a href="https://www.myhryzn.com#about" title="about">About</a></li>
                  <li><a href="https://www.myhryzn.com#works" title="works">Works</a></li>
                  <li><a href="https://www.myhryzn.com#services" title="services">Features</a></li>
                  <li><a href="https://www.myhryzn.com/blog" title="blog">Blog</a></li>
                  <li><a href="https://www.myhryzn.com#contact" title="contact">Contact</a></li>
                  <li><a href="https://www.myhryzn.com/users/login"><strong>Login</strong></a> | <a href="/users/register"><strong>Sign Up</strong></a></li>
               </ul>

               <p>Create, explore, and share your ideas on a powerful social writing platform.</p>

               <ul class="header-nav__social">
               <li><a href="https://twitter.com/myHryzn" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.instagram.com/myHryzn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UCHxZtvq7nc-cd9e88X9MHOQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
               </ul>

            </div>

         </nav>

         <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
         </a>
         <!-- <div class="landing-nav__right">
            <a href="/users/register"><div class="auth-sign__btn btn__primary">Sign Up</div></a>
         </div> -->

      </header>
      <!-- /Landing Nav -->


      <main id="mainWelcome">
         <div class="error__container">
            <h1 class="main__title">Darn!</h1>
            <div class="row main__info-container">
               <p class="main__info" style="width: 100%; max-width: none; margin: 0 auto;"><strong>We're sorry, but there seems to be an error.</strong></p>
            </div>
         </div>
      </main>

      <footer class="footer__container">
         <a href="https://www.myhryzn.com/">About</a>
         <a href="https://www.myhryzn.com/about/press">Press</a>
         <a href="https://www.myhryzn.com/blog">Blog</a>
         <a href="https://www.myhryzn.com/about/terms">Terms Of Service</a>
         <a href="https://www.myhryzn.com/about/privacy">Privacy Policy</a>
      </footer>

   </body>

   <!-- Site JS-->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



   <script src="https://www.myhryzn.com/dist/js/main.min.js" type="text/javascript"></script>

   <script src="https://www.myhryzn.com/js/welcome/modernizr.js"></script>
   <script src="https://www.myhryzn.com/js/welcome/pace.min.js"></script>
   <script src="https://www.myhryzn.com/js/welcome/plugins.js" type="text/javascript"></script>
   <script src="https://www.myhryzn.com/js/welcome/welcome.js" type="text/javascript"></script>


</html>
