<div class="about-main__container">
   <div class="hero__img-container">
      <img class="hero__img" src="/img/placeholders/project-placeholder-02.jpg" />
      <div class="hero__overlay"></div>
   </div>
</div>
