<div class="about-main__container">

   <div class="about_content_wrapper">


      <div class="about_content_container">
         <div class="about_middle_content middle_content_margin">
            <h1>Grow A Successful Brand</h1>

            <p>
               Hryzn is a place where you can share your knowledge or thoughts with others.
               With a consistent strategy and compelling content, Hryzn can help you rank higher in search engines, showcase expertise in your field,
               and promote your brand's awareness. Here are a few tools to help you grow:
            </p>

            <ul>
               <div class="grow_list_wrapper">
                  <li>
                     <h3>Integrated SEO</h3>
                     <p>
                        Built in Search Engine Optimization that helps drive traffic to increase your visibility on search engines.
                     </p>
                  </li>

                  <li>
                     <h3>Rich Text Editor</h3>
                     <p>
                        Stylize your text to match your unique style. Adjust text, add images, and create links to create the look and feel that's right for you.
                     </p>
                  </li>
               </div>


               <div class="grow_list_wrapper">
                  <li>
                     <h3>Built in Search Engine</h3>
                     <p>
                        Add descriptions and categories to allow your content to be searched directly on the site. You can explore through a variety of topics and ideas
                        with a built in search engine dedicated to help you be found.
                     </p>
                  </li>

                  <li>
                     <h3>Easily Spread Shareable Content</h3>
                     <p>
                        Create compelling content to spread across various social media channels. Integrated social media buttons allow for an easy spreading of your material.
                     </p>
                  </li>
               </div>
            </ul>

         </div>
      </div>


      <div class="about_content_container">
         <div class="about_top_left_content about_top_left_bg_1">
            <h3>Hryzn Is Content Marketing</h3>

            <p>
               <a href="/about/start" style='text-decoration: underline!important'>Start writing</a> to position your brand as an industry leader, and establish stronger ties with your audience to build a loyal fanbase.
               By building a loyal fanbase, you create a long term foundation for converting traffic.
            </p>
         </div>

         <div class="about_bottom_right_content">
            <img src="/img/about/hero-img-office.jpg" class="img-responsive" />
         </div>
      </div>

      <h3 class="landing-title-secondary join_secondary">Join a creative world of content, topics, and ideas.</h3>
      <a href="/users/register"><div class="hero_sign_up" style="margin:0 auto;">Sign Up Today</div></a>

   </div>

</div>
