<div class="about-main__container" style="background: url('/img/site/background.jpg'); background-size: cover; background-repeat: no-repeat;">
   <div class="press__top-container">

      <div class="press__text-container">
         <h1>Hi, let's be friends.</h1>
         <p>
            We are strong believers in the value of relationships. With each new partner, we hope to
            build a lasting long term friendship. We appreciate those who truly love our brand and are willing to
            go above and beyond for us.
         </p>
      </div>

      <div class="press__img-container"></div>

   </div>

   <div class="mission__container">
      <h1>Our Undertaking</h1>
      <p>
         We strive to create a fun, entertaining, and even quirky environment for all to enjoy.
         Our goal is to build a place to learn, share, and explore through a multitude of topics
         and ideas. We love being creative and we live to inspire creativity.
      </p>
   </div>

   <div class="partner__container">
      <h1>Partnerships</h1>
      <p>
         We evaluate each new partner to ensure quality for our brand as well as our audience. Things we take
         into account: the audience of the new partner as well as the engagement of their followers. We also highly appreciate
         previous collaborations or partnerships done in the past.
      </p>
   </div>

   <div class="press-contact__container">
      <h1>Contact Us</h1>
      <p>
         Get in touch, we like conversation.
         <a href="mailto:media@thehryzn.com">media@thehryzn.com</a>
      </p>
   </div>

</div>
