<div class="about-main__container">

   <div class="about_content_wrapper">

      <div class="about_content_container">
         <div class="about_top_left_content about_top_left_bg_1">
            <h3>Bring your ideas to life</h3>

            <p>
               Whether you are a <a href="/about/grow" style='text-decoration: underline!important'>small business who wants to grow</a>
               or a just a hobbyist, you can share your knowledge and thoughts with others. Showcase expertise in
               your industry and build a loyal fanbase with compelling content on a platform built for writers.
            </p>
         </div>

         <div class="about_bottom_right_content">
            <img src="/img/about/hero-img-laptop.jpg" class="img-responsive" />
         </div>
      </div>


      <div class="about_content_container">
         <div class="about_middle_content">
            <h3>Start with a simple profile</h3>

            <p>
               Hryzn is a social network so you can connect and collaborate with your friends, or show off your content to followers.
               You can share content with your friends &amp; family, personalize your profile to match your unique style, or simply write
               privately for just your eyes only.
            </p>
         </div>
      </div>

      <div class="about_content_container">
         <div class="about_top_left_content about_top_left_bg_2">
            <h3>Built for writers</h3>

            <p>
               Join a platform that is built around your content. Connect your existing blog or just write on Hryzn. We love creators so much that we designed
               our system to inspire and showcase your creativty.
            </p>
         </div>

         <div class="about_bottom_right_content">
            <img src="/img/about/hero-img-laptop.jpg" class="img-responsive" />
         </div>
      </div>

      <h3 class="landing-title-secondary join_secondary">Join a creative world of content, topics, and ideas.</h3>
      <a href="/users/register"><div class="hero_sign_up" style="margin:0 auto;">Sign Up Today</div></a>

   </div>

</div>
