<section class="blog_section">

{{#if protected}}

<form method="post" action="/blog/protected/create-post" class="protected-create">
  <input type="text" name="admin" placeholder="Admin" />
  <input type="password" name="pass" placeholder="Pass" />
  <input type="submit" value="Enter" />
</form>

{{else}}

<form method="post" id="identifier">

  <input type="file" name="blog_image">
  <input type="text" name="admin" placeholder="Admin" />
  <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="post_categories[]">
     <option value=""></option>
     <option>Growth Strategies</option>
     <option>Marketing</option>
     <option>Content Strategy</option>
     <option>Writer Spotlight</option>
     <option>Starting</option>
     <option>Managing</option>
     <option>Hryzn</option>
     <option>How-To</option>
     <option>Stories</option>
     <option>Entertainment</option>
  </select>
  <textarea name="description"></textarea>

  <div id="text-editor"></div>

  <textarea name="text" style="display:none" id="hiddenArea"></textarea>
  <input type="submit" value="Save" />

</form>

{{/if}}

</section>
